<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8" />
	<title>{% block title %}Welcome!{% endblock %}</title>
	{% block stylesheets %}{% endblock %}
	<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
	
	<!-- CSS -->
	<link href="{{ app.request.basepath }}/lib/bootstrap/bootstrap.css" rel="stylesheet">
	<!--<link href="{{ app.request.basepath }}/css/index.css" rel="stylesheet">-->
	<link href="{{ app.request.basepath }}/css/style.css" rel="stylesheet">
	<!-- SCRIPT -->
	<script src="{{ app.request.basepath }}/lib/jquery/jquery-3.1.1.js"></script>
	<script src="{{ app.request.basepath }}/lib/bootstrap/bootstrap.js"></script>
	<script src="{{ app.request.basepath }}/lib/angular/angular.min.js"></script>
	<script src="{{ app.request.basepath }}/lib/script.js"></script>
	<script src="{{ app.request.basepath }}/css/font-awesome/css/font-awesome.min.css"></script>
	<!-- FONT -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">

</head>
   
   
   <body>
	<div class="modal fade" id="myModal" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<button type="button" class="close" data-dismiss="modal">&times;</button>

				<div class="login-wrap">
					<div class="login-html">
						<input id="tab-1" type="radio" name="tab" class="sign-in" checked>
						<label for="tab-1" class="tab">Sign In</label>
						<input id="tab-2" type="radio" name="tab" class="sign-up">
						<label for="tab-2" class="tab">Sign Up</label>
						
						<div class="login-form">
							{% trans_default_domain 'FOSUserBundle' %}
							<form class="sign-in-htm" action=="{{ path("fos_user_security_check") }}" method="post">
							
								<div class="group">
									<label for="user" class="label">Username</label>
									<input id="username" name="_username" type="text" class="input">
								</div>
								<div class="group">
									<label for="pass" class="label">Password</label>
									<input id="password" name="_password" type="password" class="input" data-type="password">
								</div>
								<div class="group">
									<input id="remember_me" name="_remember_me" type="checkbox" class="check" checked>
									<label for="check"><span class="icon"></span> Keep me Signed in</label>
								</div>
								<div class="group">
									<input type="submit" id="_submit" name="_submit" class="button" value="Sign In">
								</div>
								<div class="hr"></div>
								<div class="foot-lnk">
									<a href="#forgot">Forgot Password?</a>
								</div>
							</form>

							<form class="sign-up-htm">
								<div class="group col-md-6">
									<label for="user" class="label">Prénom</label>
									<input id="user" type="text" class="input">
								</div>
								<div class="group col-md-6">
									<label for="pass" class="label">Nom</label>
									<input id="pass" class="input">
								</div>

								<div class="group col-md-6">
									<label for="pass" class="label">Pseudo</label>
									<input id="pass" type="text" class="input">
								</div>
								<div class="group col-md-6">
									<label for="pass" class="label">Email</label>
									<input id="pass" type="text" class="input">
								</div>
								<div class="group col-md-12">
									<label for="pass" class="label"> Password</label>
									<input id="pass" type="password" class="input" data-type="password">
								</div>

								<div class="group col-md-12">
									<label for="pass" class="label">Repeat Password</label>
									<input id="pass" type="password" class="input" data-type="password">
								</div>
								<div class="group col-md-6">
									<label for="pass" class="label">Code Postal</label>
									<input id="pass" type="text" class="input">
								</div>
								<div class="group col-md-6">
									<label for="pass" class="label">téléphone</label>
									<input id="pass" type="text" class="input">
								</div>
								<div class="group col-md-12">
									<label for="pass" class="label">Status téléphone</label>
									<select class="col-md-12">
										<option>Public</option>
										<option>Pour vos contact</option>
										<option>Pour les utilisteurs</option>
										<option>Privé</option>
									</select>
								</div>
								<div class="group col-md-12">
									<label for="pass" class="label">Vos services</label>
									<input id="pass" type="text" class="input">
								</div>
								<div class="group col-md-12">
									<label for="pass" class="label">Catégorie</label>
									<select class="col-md-12">
										<option>Exemple 1</option>
										<option>Exemple 2</option>
										<option>Exemple 3</option>
										<option>Exemple 4</option>
									</select>
								</div>

								<div class="group col-md-12">
									<input type="submit" class="button" value="Sign Up">
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
   
   <nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="{{ path('homepage') }}">Bouée Corsaire</a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav">

					<li><a href="{{ path('servicepage') }}">Services</a></li>
					<li><a href="{{ path('besoinpage') }}">Besoins</a></li>
					{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
					<li><a href="{{ path('fos_user_profile_show') }}">Mon profil</a></li>
					<li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        	<span class="glyphicon glyphicon-user"></span> Bienvenue, {{ app.user.username }} <b class="caret"></b>
						</a>
						<ul class="dropdown-menu">
							<li><a href="{{ path('fos_user_security_logout') }}">Deconnexion</a></li>
						</ul>
                    </li>
					{% else %}
					<li>
						<button type="button" class="login" data-toggle="modal" data-target="#myModal">Inscription & connexion</button>
					</li>
					{% endif %}
				</ul>
			</div>
		</div>
	</nav>

   
   <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->


    <!-- Wrapper for slides -->
    <div>
        <div class="header">
                <img src="{{ app.request.basepath }}/images/logo_v2_1024.jpg" alt="">
                <h3>LA BOUéE CORSAIRE</h3>
                <p>LE SITE DE L'ÉCHANGE GRATUIT</p>
        </div>
    </div>
</div>




    <div>
        <!--<div class="col-sm-12">-->
        <div class="well">
            <img class="imgpres" src="{{ app.request.basepath }}/images/logo_v2_10242.jpeg">
            <div class="text-presentation">
                <p class="presentation">Troc & Co</p>
                <div class="traitsimple"></div>
                <p class="textpres">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris in turpis in purus consequat imperdiet sed non ante. Curabitur dictum leo quis auctor facilisis. Curabitur viverra arcu sed nibh bibendum, malesuada commodo leo auctor. Vivamus in neque eu metus interdum ultrices. Aliquam auctor lorem a commodo fermentum. Praesent eu sapien bibendum, interdum neque ac, posuere mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque ut varius diam. Proin eget nulla et ipsum condimentum sodales Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas distinctio iusto temporibus a, impedit amet ratione nemo aspernatur, nulla veritatis illo blanditiis rem optio pariatur alias, asperiores error voluptatem sapiente.Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
        </div>
    </div>

<section class="annonce">
    <div class="intro">
        <h3>Troc & Co.</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu sapien bibendum, interdum neque ac, posuere mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque ut varius diam. </p>
    </div>
    <div class="section-annonce">
        <div class="petite-annonce">
          <img src="{{ app.request.basepath }}/images/voiture.jpg" alt="">
           <div class="present-annonce">
               <p>2H</p>
               <div>
               <h5>Réparation Automobile</h5>
               <small>Catégorie voiture</small>
               </div>
           </div>
              
                <div class="present-annonce present-annonce-description">
               <p>2H</p>
               <div>
               <h5>Emilie Dupont - 49000</h5>
               <small>Lorem ips consectetur adipisicing elit. Quos sit nesciunt Lorem ipsum dolor sit amet, consectetur adipisicing elit.</small>
               </div>
         </div>
    </div>
    </div>
       
    <div class="section-annonce">
        <div class="petite-annonce">
          <img src="{{ app.request.basepath }}/images/voiture.jpg" alt="">
           <div class="present-annonce">
               <p>2H</p>
               <div>
               <h5>Réparation Automobile</h5>
               <small>Catégorie voiture</small>
               </div>
           </div>
              
                <div class="present-annonce present-annonce-description">
               <p>2H</p>
               <div>
               <h5>Emilie Dupont - 49000</h5>
               <small>Lorem ips consectetur adipisicing elit. Quos sit nesciunt Lorem ipsum dolor sit amet, consectetur adipisicing elit.</small>
               </div>
         </div>
    </div>
    </div>
    
    <div class="section-annonce">
        <div class="petite-annonce">
          <img src="{{ app.request.basepath }}/images/voiture.jpg" alt="">
           <div class="present-annonce">
               <p>2H</p>
               <div>
               <h5>Réparation Automobile</h5>
               <small>Catégorie voiture</small>
               </div>
           </div>
              
                <div class="present-annonce present-annonce-description">
               <p>2H</p>
               <div>
               <h5>Emilie Dupont - 49000</h5>
               <small>Lorem ips consectetur adipisicing elit. Quos sit nesciunt Lorem ipsum dolor sit amet, consectetur adipisicing elit.</small>
               </div>
         </div>
    </div>
    </div>
    
    
    <div class="section-annonce">
        <div class="petite-annonce">
          <img src="{{ app.request.basepath }}/images/voiture.jpg" alt="">
           <div class="present-annonce">
               <p>2H</p>
               <div>
               <h5>Réparation Automobile</h5>
               <small>Catégorie voiture</small>
               </div>
           </div>
              
                <div class="present-annonce present-annonce-description">
               <p>2H</p>
               <div>
               <h5>Emilie Dupont - 49000</h5>
               <small>Lorem ips consectetur adipisicing elit. Quos sit nesciunt Lorem ipsum dolor sit amet, consectetur adipisicing elit.</small>
               </div>
         </div>
    </div>
    </div>
    
    
    
    <div class="section-annonce">
        <div class="petite-annonce">
          <img src="{{ app.request.basepath }}/images/voiture.jpg" alt="">
           <div class="present-annonce">
               <p>2H</p>
               <div>
               <h5>Réparation Automobile</h5>
               <small>Catégorie voiture</small>
               </div>
           </div>
              
                <div class="present-annonce present-annonce-description">
               <p>2H</p>
               <div>
               <h5>Emilie Dupont - 49000</h5>
               <small>Lorem ips consectetur adipisicing elit. Quos sit nesciunt Lorem ipsum dolor sit amet, consectetur adipisicing elit.</small>
               </div>
         </div>
    </div>
    </div>
    
    <div class="section-annonce">
        <div class="petite-annonce">
          <img src="{{ app.request.basepath }}/images/voiture.jpg" alt="">
           <div class="present-annonce">
               <p>2H</p>
               <div>
               <h5>Réparation Automobile</h5>
               <small>Catégorie voiture</small>
               </div>
           </div>
              
                <div class="present-annonce present-annonce-description">
               <p>2H</p>
               <div>
               <h5>Emilie Dupont - 49000</h5>
               <small>Lorem ips consectetur adipisicing elit. Quos sit nesciunt Lorem ipsum dolor sit amet, consectetur adipisicing elit.</small>
               </div>
         </div>
    </div>
    </div>
</section>

<section class="equipe">
    <img src="{{ app.request.basepath }}/images/pirate.jpg" alt="">
    <p>Un texte de l'administrateur de l'application. Consectetur adipisicing elit. Assumenda eveniet, officia reprehenderit consectetur quibusdam quasi ex? Incidunt inventore ducimus fugiat error odio, adipisci sint, quod ea. Repellendus quod facilis, vel.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam ducimus a quos deserunt, ratione dolores id necessitatibus provident ea minima earum blanditiis rerum illo aliquam distinctio non consequuntur qui ipsam?</p>
</section>

<footer>
	<div>
	    <h4>Lorem</h4>
	    <a href="">Accueil</a>
	    <a href="">Services</a>
	    <a href="">Besoins</a>
	    <a href="">Mon profil</a>
	</div>
	<div>
     <h4>Social</h4>
	    <p>Facebook</p>
	    <p>Twitter</p>
	    <p>Google+</p>	    
	</div>
	<div>
    <h4>Contact</h4>
	    <p>adresse1@contact.com</p>
	    <p>adresse2@contact.com</p>
	    <p>Adress - Siège de l'association</p>
	</div>
	<div>
	    <button>M'inscrire</button>
	</div>
</footer>



</body>

</html>
