{% extends 'besoin.html.twig' %}

{% block body %}
    <h1>Besoin</h1>
<<<<<<< HEAD

   {% for service in services %}
=======
{% for besoin in besoins %}
>>>>>>> 0ab7e6ae3147acf35d7a5bde7dd23bfab0ba6953
    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ besoin.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ besoin.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ besoin.description }}</td>
            </tr>
            <tr>
                <th>Level</th>
                <td>{{ besoin.level }}</td>
            </tr>
            <tr>
                <th>Categorie</th>
                <td>{{ besoin.categorie }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{% if besoin.statut %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('besoin_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('besoin_edit', { 'id': besoin.id }) }}">Edit</a>
        </li>
    </ul>
<<<<<<< HEAD
{% endfor %}
=======
    {% endfor %}

>>>>>>> 0ab7e6ae3147acf35d7a5bde7dd23bfab0ba6953
{% endblock %}
